{% extends "base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h1>Профиль пользователя</h1>

<div id="user-info">
    <p>Загрузка данных...</p>
</div>

<div class="container">
    <h1>Инвентарь</h1>
    <div class="nft-list">
        {% for item in list %}
            <div class="nft-item">
                <img src="{{ url_for('uploaded_file', filename=item[0]) }}" alt="{{ item[1] }}" class="nft-image">
                <p>Название: {{ item[1] }}</p>
                <p>Редкость: {{ item[2] }}</p>
                <p>Редкость Бойца: {{ item[3] }}</p>
                <p>Класс бойца: {{ item[4] }}</p>
        {% endfor %}
    </div>
</div>


<script>
  const userId = {{ user_id }};

  fetch(`/api/user/${userId}`)
    .then(res => {
      if (!res.ok) {
        throw new Error('Ошибка при загрузке данных');
      }
      return res.json();
    })
    .then(data => {
      const user = data.user;
      const infoDiv = document.getElementById('user-info');

      infoDiv.innerHTML = `
        <p><strong>ID:</strong> ${user.id}</p>
        <p><strong>Имя:</strong> ${user.name}</p>
        <p><strong>Никнейм:</strong> ${user.user_name}</p>
        <p><strong>Email:</strong> ${user.email}</p>
        <p><strong>FGL:</strong> ${user.figli_coins}</p>
      `;
    })
    .catch(error => {
      document.getElementById('user-info').innerHTML = '<p>Не удалось загрузить данные пользователя.</p>';
      console.error(error);
    });

</script>

{% endblock %}