{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" style="background: linear-gradient(#5A7FC8, #9A4D87);
                border: solid 10px #000000;
                margin: 10px;
                box-sizing: border-box;">
        <p>Имя: {{ User.name }}</p>
        <p>Нмя пользователя: {{ User.user_name }}</p>
        <p>figli-коины: {{ User.figli_coins }}</p>
        <p>email: {{ User.email }}</p>
        {% for collection, nfts in json.items() %}
            {% for name, number in nfts.items() %}
                <p>{{collection}} {{name}} {{number}}</p>
            {% endfor %}
        {% endfor %}
        
    </div>
{% endblock %}